/* Estilos para el quiz */
#quiz-home {
    text-align: center;
    padding: 10%;
  }

.btn-center {
    @include button($color-secondary, $color-white);
    margin-top: 20px;
    padding: 15px 25px;
    font-size: $font-size-large;
  }

#t-ansiedad, #t-compneg {
    background-color: $color-primary;
    color: $color-white;
  }

#t-perfeccionismo, #t-procrastinacion {
    background-color: $color-secondary;
    color: $color-white;
  }

#video {
    text-align: center;
  }

.fullscreen-img {
    width: 100vw;
    height: 50vh;
    object-fit: cover;
  }

  /* Solo aplica a las tarjetas dentro de la sección de resultados del quiz */
#resultados .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Asegura que el contenido esté equilibrado */
    min-height: 300px; /* Altura mínima para evitar que se deformen */
    height: 100%; /* Asegura que todas las tarjetas tengan la misma altura */
}

/* Ajustamos el padding del card-body para evitar el gap */
#resultados .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem; /* Ajusta el padding según sea necesario */
    flex-grow: 1; /* Hace que el cuerpo de la tarjeta crezca para llenar el espacio disponible */
}

#resultados .card-body h3 {
    margin-bottom: 1rem; /* Ajusta el margen inferior del encabezado */
    margin-top: 20%;
    justify-content: center;
    text-align: center;
}

#resultados .card-body p {
    margin-top: 0; /* Asegura que no haya margen extra en la parte superior del párrafo */
    margin-bottom: 20%;
}

#resultados h1 h2{
    font-size: 30%;
}