/* Navbar */
.navbar-nav .nav-link {
  font-family: $font-family-lato !important;
  font-weight: bold !important;
  font-size: $font-size-small;
  text-align: center;
}

.navbar-nav .nav-link:hover {
  background-color: $color-primary;
  border-radius: 5px;
  transition: 0.3s;
}

.logo-img {
  width: 80px;
  height: auto;
  display: block;
}

.navbar {
  background-color: #A0A00A;
}


/* Media Queries para el navbar */
@media (min-width: 768px) {
  .navbar-nav .nav-link {
    font-size: $font-size-large;
  }
}

@media (min-width: 992px) {
  .navbar-nav .nav-link {
    font-size: $font-size-xxlarge;
  }
}
