/* Variables de colores */
$color-background: #F0EFD9;
$color-primary: #FE7BAF;
$color-secondary: #A0A00A;
$color-tertiary: #e46c26;
$color-grey: grey;
$color-lightgrey: lightgray;
$color-dark: #333;
$color-dark-2: #444;
$color-white: #fff;

/* Variables de fuentes */
$font-family-lato: "Lato", sans-serif;
$font-family-playfair: "Playfair Display", serif;

/* Tamaños de fuentes */
$font-size-small: 10px;
$font-size-medium: 14px;
$font-size-large: 16px;
$font-size-xlarge: 22px;
$font-size-xxlarge: 24px;
$font-size-heading: 1.2em;
